In [14]:
#single word
'hello'

'hello'

In [15]:
#entire phrase
'This is also a string'

'This is also a string'

In [16]:
#string can also be in double quotes
"This is a string in double quotes"

'This is a string in double quotes'

In [17]:
#be careful with quotes
'I'm using single quotes , but this will give an error'

SyntaxError: invalid syntax (<ipython-input-17-f9d5b948b280>, line 2)

In [18]:
#using single quotes inside string without causing error
"Now I'm ready to use single quote inside string"

"Now I'm ready to use single quote inside string"

# Printing string

In [19]:
#we can simply declare a string
'Hello World!'

'Hello World!'

In [20]:
#we can't print multiple strings in this way
'Hello World1'
'Hello World2'

'Hello World2'

we can use print statement to print a string

In [21]:
print("Hello world")
print('Use \n to print in new line')
print('\n')
print('see what i mean')

Hello world
Use
 to print in new line


see what i mean

# String basics

In [22]:
len('Hello World')

11

String indexing

In [23]:
s='hello world'

In [24]:
s

'hello world'

In [25]:
print(s)

hello world

In [26]:
s[0]

'h'

In [27]:
s[1]

'e'

In [28]:
s[2]

'l'

In [29]:
#print everything past the first term all the way to the length of the string
s[1:]

'ello world'

In [30]:
#note that there is no change to the orignal string s
s

'hello world'

In [31]:
#print everything upto mentioned index
s[:3]

'hel'

In [32]:
#print everything
s[:]

'hello world'

In [33]:
#negative indexing means looping back around
s[-1]

'd'

In [34]:
#print everythin but with a step size of 1
s[::1]

'hello world'

In [35]:
s[::2]

'hlowrd'

In [36]:
#printing everything with a step size of 1 but backwards
s[::-1]

'dlrow olleh'

In [37]:
s

'hello world'

# strings are immutable

In [39]:
#let's try to change the first letter to 'x'
s[0]='x'

TypeError: 'str' object does not support item assignment

so, strings are immutable

strings can be concatenated

In [41]:
s+'concatenate me'

'hello worldconcatenate me'

In [42]:
s

'hello world'

but note that the original value of s is not changed even though concatenated , this is because s has to be reassigned

In [43]:
s=s+'concatenate me'
s

'hello worldconcatenate me'

# Using * to cause repetition

In [44]:
letter='z'

In [45]:
letter*10

'zzzzzzzzzz'

In [46]:
s

'hello worldconcatenate me'

In [50]:
#upper case a string
s.upper()

'HELLO WORLDCONCATENATE ME'

In [49]:
s

'hello worldconcatenate me'

In [52]:
#lower case a string
s.lower()

'hello worldconcatenate me'

In [53]:
#split string by a blank space
s.split()

['hello', 'worldconcatenate', 'me']

In [54]:
#split by a specific element(does't include that element which was split on)
s.split('w')

['hello ', 'orldconcatenate me']